@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  padding: 0;
  border: 0;
  margin: 0;
  vertical-align: top;
  font: inherit;
  font-size: 100%;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1351px;
  width: 86%; 
  margin: 0 auto;
}

/*=================================
  main styling starts here
=================================*/
h1 {
  padding: 20px 0;
  color: #d2691e;
  font-size: 20px;
  text-align: center;
}

.foodName,.materialName {
  width: 49%;
  display: inline-block;
}

.materialName input {
  padding: 7px ;
  border: transparent;
  margin-top: 0; 
  display: inline-block;
}

.item {
  padding: 3px 5px;
  border: 1px solid #808080;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  margin: 3px;
  display: inline-block;
  color: #d2691e;
  font-size: 12px;
}
.materialName input:focus { outline-width:0; }
.inputarea { border: 1px solid #000; }
input {
  margin-top: 20px; 
  display: block;
}
.remove {
  color: #ff0000;
  font-size: 10px;
  font-weight: bold;
  padding: 5px 2px;
  display: inline-block;
  padding: 2px 1px 0 5px;
  cursor: pointer;
}

.table {
  border: 1px solid #000;
  margin-top: 30px ;
}

.table ul {
  display: inline-block;
  width: 19%;
  text-align: center;
  border-right: 1px solid #000;
}

.table ul:last-child { border: transparent; }

.table ul li {
  display: block;
  padding: 10px 0 10px;
  text-transform: capitalize;
}

.table li a {
  background-color: #dc143c;
  padding: 3px 5px;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}


h2 {
  text-transform: capitalize;
  text-align: center;
  color: #daa520;
  font-size: 22px;
  margin-top: 10px;
}

/*=================================
  main styling ends here
=================================*/